<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chen.book.mapper.UserMapper">
    <insert id="insertUser">
        insert into
        tb_user(user_name,password,phone,headPic)
        values(#{userName},#{password},#{phone},#{headPic})

    </insert>

    <select id="selectById" resultType="com.chen.book.entity.User">
        select user_name,
        phone,
        headPic
        from tb_user
        where user_id=#{userId}


    </select>
    <select id="selectByUserName" resultType="com.chen.book.entity.User">
        select user_name,
        phone,
        headPic,
        password,
        user_id
        from tb_user
        where user_name=#{userName}
    </select>

    <select id="queryAllUser" resultType="com.chen.book.entity.User">
        select
        user_id,
        user_name,
        phone
        from
        tb_user
    </select>

    <delete id="deleteUser">
        delete from  tb_user where user_id=#{userId}
    </delete>


</mapper>